:root{
  --blue:rgb(24, 74, 238);
  --red:rgb(173, 42, 2);
  --green:rgb(7, 241, 46);
  --themecolor:var(--blue);
}

#loader-1{
    border: 10px solid #000;
    border-radius: 50%;
    border-top: 10px solid var(--themecolor);
    border-bottom: 10px solid var(--themecolor);
    border-right: 10px solid #000;
    border-left: 10px solid #000;
    margin-top:20px;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
    /* visibility: hidden; */
    /* display:none; */
    display: block;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    10% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

