<!DOCTYPE html>
<html>
    <head>
        <title>
        </title>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        {{>header}}            
        <div class="options">
            <div class="option-items"><a href="/" class="ele">Home</a></div>
            <div class="option-items"><a href="about" class="ele">About</a></div>
            <div class="option-items"><a href="help" class="ele">Help</a></div>
        </div>
        <p>{{errormessage}}</p>
        {{>footer}}
    </body>
</html>