<!DOCTYPE html>
<html>
    <head>
        <title>
        </title>
        <link rel="stylesheet" href="./css/style.css">
        <link rel="stylesheet" href="./css/animations.css">
        <link rel="stylesheet" href="./css/dynamic.css">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/ionicons-2.0.1/css/ionicons.min.css">
        <link rel="icon" href="/img/pin.png">
    </head>
    <body>
        <div class="section-0">
            <div class="company-name">
                <h1> <span id="rotation"><i class="ion-ios-world-outline"></i></span><span class="color-1">  Pin</span><span class="color-2">coder</span></h1>
            </div>
            <div class="options">
                <div class="option-items"><a href="/" class="ele">Home</a></div>
                <div class="option-items"><a href="about" class="ele">About</a></div>
                <div class="option-items"><a href="help" class="ele">Help</a></div>
            </div>
        </div>
        <div class="section-1">
            <div class="middle-term top-heading">
                {{>header}}            
            </div>
        </div>
        <div class="section-2">
            <div class="about-material">
                <div class="column-1">
                    <img src="img/Anime (72).jpg" alt="" class="imgs">
                </div>
                <div class="column-2">
                    <p>This is the loader app which fetch api from the www.google.com and represents data in the home page .This app has been created by Abhinav Thakur and node js has been used in the app to fetch data.</p>
                </div>
            </div>
        </div>
        <div class="section-3">
            <div class="middle-term last-heading">
                {{>footer}}
            </div>
        </div>
    </body>
</html>
