<!DOCTYPE html>
<html>
    <head>
        <title>
        </title>
        <link rel="stylesheet" href="./css/style.css">
        <link rel="stylesheet" href="./css/dynamic.css">
        <link rel="stylesheet" href="./css/animations.css">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/ionicons-2.0.1/css/ionicons.min.css">
        <link rel="icon" href="/img/pin.png">
    </head>
    <body>
        <div class="section-0">
            <div class="company-name">
                <h1> <span id="rotation"><i class="ion-ios-world-outline"></i></span><span class="color-1">  Pin</span><span class="color-2">coder</span></h1>
            </div>
            <div class="options">
                <div class="option-items"><a href="/" class="ele">Home</a></div>
                <div class="option-items"><a href="about" class="ele">About</a></div>
                <div class="option-items"><a href="help" class="ele">Help</a></div>
            </div>
        </div>
        <div class="section-1">
            <div class="middle-term top-heading">
                {{>header}}            
            </div>
        </div>
        <div class="section-2">
            <div class="help-material">
                <p>Pincoder app can be used to find any postoffice by using the pincode or finding the pincode using the post-office name .</p>
                <br>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>
        <div class="section-3">
            <div class="middle-term last-heading">
                {{>footer}}
            </div>
        </div>
    </body>
</html>